$main_font: Anton;
$primary_font: "Hind Siliguri";
$back_font: "Barlow Condensed";

.contact_section {
    padding: 25px 0;
    text-align: center;
    background-color: #2A2A2A;

    .form {
        box-shadow: -5px -5px 10px rgba(255, 255, 255, .06), 5px 5px 15px rgba(0, 0, 0, .4);
        width: 400px;
        margin: 0 auto;
        padding: 40px 40px 70px;
        height: 100%;
        border-radius: 5px;
        background-color: #2a2a2a;

        h2 {
            color: #ebc20b;
            font-weight: 400;
            font-size: 38px;
            font-family: $main_font;
        }

        p {
            color: #fff;
            font-family: $primary_font;
        }

        form {
            margin: 0 auto;
            padding: 25px 15px;
            height: 100%;
            width: 100%;

            .input_group {
                display: flex;
                flex-direction: column;
                text-align: left;
                width: 100%;
                margin: 25px 0;

                label {
                    color: #858585;
                    padding: 5px 0;
                    letter-spacing: 2px;
                    font-family: $back_font;
                }

                input {
                    outline: none;
                    border: none;
                    font-family: $primary_font;
                    background-color: #2a2a2a;
                    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .2),
                        inset 2px 2px 6px rgba(0, 0, 0, .9);
                    color: #979797;
                    font-size: 16px;
                    height: 50px;
                    border-radius: 2px;
                    padding: 5px 5px 5px 15px;

                    &::placeholder {
                        font-size: 14px;
                    }
                }

                button {
                    padding: 15px 0;
                    background-color: #2a2a2a;
                    font-size: 18px;
                    letter-spacing: 1px;
                    outline: none;
                    border: none;
                    color: #ebc20b;
                    transition: 250ms;
                    cursor: pointer;
                    box-shadow: -2px -2px 6px rgba(255, 255, 255, .2), 2px 2px 6px rgba(0, 0, 0, .8);

                    &:hover,
                    &:active {
                        box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .2),
                            inset 2px 2px 6px rgba(0, 0, 0, .8);
                    }
                }
            }
        }



    }

}