@mixin navbar {
    .navbar {
        display: inherit;
        flex-direction: column;
        justify-content: space-evenly;
        // @include navbar.center;
        .icon {
            margin: 25px 0; 
            padding: 1rem;
            border-radius: 50%;
            font-size: 1.5rem;
            cursor: pointer;
            text-align: center;
            &:hover {
                background-color: $dark-color;
                color: $white-color;
            }
        }
    }
} 