$gray: #3D3B3A;
$white: #fff;
$orange: #fa3c14;

.experiences { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    .title {
        text-align: center;
        width: 100%;        
        h2 {            
            font-weight: 400;
            color: $white;
            font-size: 2.5rem;
        }
    }
    .container {
        display: flex;   
        justify-content: center;
        // background-color: #ae0;
        width: 80%;
        

        .education {
            .icon {
                background-color: $orange;
            }

            .job {
                justify-content: flex-end;
            }
        }

        .resume {

        }
    }
}

ul {
    list-style-type: none;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.job {
    // background-color: rgb(38, 68, 238);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .box {
        position: relative;
        display: inline-grid;
        justify-self: center;
        grid-template-columns: .1fr 3fr;
        margin: 5rem 0;
        justify-content: center;
        color: $white;
        width: 100%;
        height: 100%;
        width: 40rem;
        // display: flex;

    }

    .icon {
        position: relative;
        left: 0;
        right: 0;
        display: flex;
        flex-grow: 3;
        align-items: center;
        justify-content: center;
        margin-top: .5rem;
        background-color: purple;
        z-index: 1;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        text-align: center;

    }

    .info {
        // background: #e00e;
        height: 100%;
        padding: 1rem 0;
        width: 50%;
        margin: 0 5%;
        cursor: pointer;
        
        h5 {
            padding-top: 2rem;
            
            span {
                color: darken($gray, 1%);
            }
        }
        
        p {
            padding-top: 1rem;            
        }




        .time {
            padding: .5rem 2rem;
            color: $white;
            background-color: $gray;
            // margin: .3rem 0 0 1rem;
            margin-bottom: .5rem;
    
            border-radius: 15px;
        }
    }

    // Come back to fix the line later

    // &::after {
    //     content: "";
    //     position: absolute;
    //     top: 6rem;
    //     left: 15px;
    //     bottom: 0;
    //     border-left: 3px solid rgb(49, 49, 49);
    // }
}