@import url('https://fonts.googleapis.com/css?family=Anton|Barlow+Condensed|Hind+Siliguri&display=swap');
$main_font: Anton;
$primary_font: "Hind Siliguri";
$back_font: "Barlow Condensed";

$main-color: red;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background: linear-gradient(to right, #ffeeee, #e2e9d5); 

    // background-color: #a73737;
}